<app-menu></app-menu>


<p>
    <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample" (click)="checkBoxcomp()">
      My Complains</a>

    <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample1" role="button" aria-expanded="false" aria-controls="collapseExample" (click)="checkBoxfeed()">
        My Feedback</a>

    <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample2" role="button" aria-expanded="false" aria-controls="collapseExample" (click)="checkBoxUse()">
            My Users</a>
</p>

<div *ngIf="initialdisplay">
    <div *ngIf="alert1" class="alert alert-danger alert-dismissible">
        
        No Complains Submitted
    </div>
    <div class="card card-body" *ngIf="!alert1">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Customer Name</th>
                    <th scope="col">Mail</th>
                    <th scope="col">Product Name</th>
                    <th scope="col">Product Id</th>
                    <th scope="col">Product Address</th>
                    <th scope="col">Contact Number</th>
                    <th scope="col">Repair/Replace/Refund</th>
                    <th scope="col">Complain</th>

                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let complain of complains">
                    <th scope="row">{{complain.id}}</th>
                    <td>{{complain.custName}}</td>
                    <td>{{complain.mail}}</td>
                    <td>{{complain.productName}}</td>
                    <td>{{complain.productId}}</td>
                    <td>{{complain.productAdress}}</td>
                    <td>{{complain.contactNumber}}</td>
                    <td>{{complain.repair}}</td>
                    <td>{{complain.complain}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="collapse" id="collapseExample" *ngIf="comp">
    <div *ngIf="alert1" class="alert alert-danger alert-dismissible">
        
        No Complains Submitted
    </div>
    <div class="card card-body" *ngIf="!alert1">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Customer Name</th>
                    <th scope="col">Mail</th>
                    <th scope="col">Product Name</th>
                    <th scope="col">Product Id</th>
                    <th scope="col">Product Address</th>
                    <th scope="col">Contact Number</th>
                    <th scope="col">Repair/Replace/Refund</th>
                    <th scope="col">Complain</th>

                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let complain of complains">
                    <th scope="row">{{complain.id}}</th>
                    <td>{{complain.custName}}</td>
                    <td>{{complain.mail}}</td>
                    <td>{{complain.productName}}</td>
                    <td>{{complain.productId}}</td>
                    <td>{{complain.productAdress}}</td>
                    <td>{{complain.contactNumber}}</td>
                    <td>{{complain.repair}}</td>
                    <td>{{complain.complain}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="collapse" id="collapseExample1" *ngIf="feed">
    <div *ngIf="alert2" class="alert alert-danger alert-dismissible">
        
        No Feedback submitted
    </div>
    <div class="card card-body" *ngIf="!alert2">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">User Name</th>
                    <th scope="col">Contact Number</th>
                    <th scope="col">Service Rating</th>
                    <th scope="col">Suggestion</th>

                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let feedback of feedbacks">
                    <th scope="row">{{feedback.id}}</th>
                    <td>{{feedback.userName}}</td>
                    <td>{{feedback.contactNumber}}</td>
                    <td>{{feedback.rateService}}</td>
                    <td>{{feedback.suggestion}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>


<div class="collapse" id="collapseExample2" *ngIf="use">
    <div *ngIf="alert3" class="alert alert-danger alert-dismissible">
        
        No User Registered Yet
    </div>
    <div class="card card-body" *ngIf="!alert3">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">First Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Password</th>
                    <th scope="col">Mobile</th>

                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of users">
                    <th scope="row">{{user.id}}</th>
                    <td>{{user.firstName}}</td>
                    <td>{{user.lastName}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.password}}</td>
                    <td>{{user.mobile}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>