* {
    color: #ffffff
}

small>span {
    color: red;
}

.txt {
    color: black;
}

.cc {
    color: rgba(0, 0, 0, 0.479);
}

.c {
    text-align: center
}

.bg {
    background: url('/assets/a1.jpg') no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
}

.foreground {
    filter: blur(4px);
}

.textDanger {
    color: blueviolet;
}

.hasError {
    border-style: solid;
    border-color: red;
}

.form-container {
    border: 0px solid #ffffff;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 30px 60px;
    margin-top: 10vh;
    -webkit-box-shadow: -1px 4px 26px 11px rgba(13, 35, 65, 0.75);
    box-shadow: -1px 4px 26px 11px rgba(12, 36, 56, 0.75);
}