<div class="container-fluid bg">
    <div class="row">
        <div class="col-md-4 col-sm-4-xs-12"></div>
        <div class="col-md-4 col-sm-4-xs-12">
            <form class="form-container">
                <h1 class="c">Login</h1>
                <div class="form-group">
                    <label for="exampleInputEmail1">Email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                </div>
                <br>
                <button type="submit" class="btn btn-success btn-block" (click)="gotoLogin()">Submit</button>
                <br>
                <h3>Create a New Account</h3>
                <a [routerLink]="['/signup']" onmousedown="toggleDiv('mydiv');">
                    <button class="btn btn-primary btn-block">Sign Up</button>
                </a>
                <a [routerLink]="['/menu']">
                    <h3>Go to Menu Page</h3>
                </a>
            </form>
        </div>
    </div>
</div>