<app-menu></app-menu>
<div class="mobile">
    <div class="card text-center a">
        <div class="card-header">
            <strong> Mobile Gallery </strong>
        </div>
        <div class="card-body">
            <!-- <h5 class="card-title">Mobile Gallery</h5> -->
            <img class="card-img-top" src=" assets/all/m4.jpg " alt="Dell Latitude" style="height: 300px;width: 90%;">
            <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
        </div>
        <div class="card-footer text-muted">
            Extra 10% Discounts on all SBI Debit/Credit Cards.
        </div>
    </div>
</div>
<!-- <hr style="height:3px;width:50%;">
<hr style="width:50%;text-align:left;margin-left:12"> -->

<!-- Display of Laptop section -->

<div class="laptop">
    <div class="card text-center a">
        <div class="card-header">
            <strong>Laptop Gallery</strong>
        </div>
        <div class="card-body">
            <!-- <h5 class="card-title">Mobile Gallery</h5> -->
            <img class="card-img-top" src=" assets/all/l1.jpg " alt="Laptops" style="height: 300px;width: 90%;">
            <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
        </div>
        <div class="card-footer text-muted">
            Special Discount for Students
        </div>
    </div>
</div>
<!-- 
<hr style="height:3px;width:50%;color:gray">
<hr style="width:50%;text-align:left;margin-left:12"> -->
<!-- display of TV section -->

<div class="tv">
    <div class="card text-center a">
        <div class="card-header">
            <strong>
            Entertainment with Big Screens</strong>
        </div>
        <div class="card-body">
            <!-- <h5 class="card-title">Mobile Gallery</h5> -->
            <img class="card-img-top" src=" assets/all/t13.jpg " alt="TV" style="height: 300px;width: 90%;">
            <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
        </div>
        <div class="card-footer text-muted">
            Grab Special Offers on Samsung TV's
        </div>
    </div>
</div>

<hr style="height:3px;width:50%;color:gray">
<hr style="width:50%;text-align:left;margin-left:12">
<!-- <span class="border border-primary"><p>hello</p></span>
<span class="border border-secondary"><p>hello</p></span>
<span class="border border-success"></span>
<span class="border border-danger"></span>
<span class="border border-warning"></span>
<span class="border border-info"></span>
<span class="border border-light"></span>
<span class="border border-dark"></span>
<span class="border border-white"></span> -->


<!-- display of all mobiles -->

<div class="mobile-sub">

    <div class="container-fluid" style="padding: 20px;">
        <div class="row">
            <div class="mobiles-a">
                <div class="col-xs-3">
                    <div class="thumbnail">
                        <a target="_blank">
                            <img src="assets/all/m8.webp" alt="iphone" style="height:300px;width:100;">
                            <div class="caption" style="text-align:center">
                                <p>iphone</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>

            <div class="mobiles-a">
                <div class="col-xs-3">
                    <div class="thumbnail">
                        <a target="_blank">
                            <img src="assets/all/sam/m7.jpg" alt="laptop" style="height:300px;width:100;">
                            <div class="caption" style="text-align:center">
                                <p>Realme</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="mobiles-a">
                <div class="col-xs-3">
                    <div class="thumbnail">
                        <a target="_blank">
                            <img src="assets/all/sam/m3.jpg" alt="iwatch" style="height:300px;width:100;">
                            <div class="caption" style="text-align:center">
                                <p>Lg</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>

            <div class="mobiles-a">
                <div class="col-xs-3">
                    <div class="thumbnail">
                        <a target="_blank">
                            <img src="assets/all/sam/m4.jpg" alt="iwatch" style="height:300px;width:100;">
                            <div class="caption" style="text-align:center">
                                <p>Lg</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<br><br>
<!-- <div class="footer">
    <p>
        contact us - 92113624t323 <a href="mailto:abs@12.com">abc@12.com</a>
    </p>
</div> -->
<div class="col-md-4">
    <div class="thumbnail">
        <!-- <div class="card" style="width:2px;"> -->
        <img class="card-img-top" src=" assets/all/l2.jpg " alt="Dell Latitude">
        <!-- <div class="card-body"> -->
        <h5 class="card-title">Dell-Latitude-5580</h5>
        <p class="card-text">Gaming Series</p>
        <a href="#" class="btn btn-primary">Browse More</a>
    </div>
</div>
<!-- </div>
</div> -->