<nav class="navbar navbar-default my-navbar">
    <div class="container-fluid">
        <div class="navbar-header">
            <div>
                <a class="navbar-brand" href="#">
                    <i><p class="brandname">Digital Emporium</p></i></a>
                <!-- <small id="emailHelp" class="form-text text-muted fo">
                    <strong> We Value our Customer</strong></small> -->
            </div>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>                        
            </button>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul id="za" class="nav navbar-nav topnav">
            
                <li [routerLinkActive]="['active']"><a [routerLink]="['/home']">Home</a></li>

                <li [routerLinkActive]="['active']"><a [routerLink]="['/complain']">Complain</a></li>

                <li [routerLinkActive]="['active']"><a [routerLink]="['/feedback']">Feedback</a></li>

                <li [routerLinkActive]="['active']"><a [routerLink]="['/dashboard']">Dashboard</a></li>

            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a [routerLink]="['/login']"><i class="fa fa-sign-out" style="font-size:24px"></i></a></li>
            </ul>
        </div>
    </div>
</nav>
