#heading2 {
    color: #153c7e;
        text-align:center;
        margin-left: 7px;
        padding: 2px; 
        display:inline-block;
        font-weight:100 ;
        font-size: 445%;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        line-height: 1;
    }

label {
    color: #edecf5
} 

.txt {
    color: black;
}

.c {
    text-align: center
}

.w {
    color:white;
}
button {
    margin:auto;
    display:block;
  }

.bg {
    background: url('/assets/a1.jpg') no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
}

.textDanger{
    color: red;
}
.hasError{
    border-style: solid;
    border-color: red;
}

.form-container {
    border: 0px solid #f8f4f4;
    background-color: rgba(39, 17, 17, 0.5);
    padding: 30px 37px;
    width:495px;
    margin-top: 5vh;
    -webkit-box-shadow: -1px 4px 26px 11px rgba(15, 14, 4, 0.75);
    box-shadow: -1px 4px 26px 11px rgba(13, 14, 1, 0.75);
}